/* announcement things */
.announcement {
    display: grid;
    grid-template-columns: auto 200px;
    margin-right: 15%;
    margin-left: 15%;
    padding: 15px 30px;
    margin-top: 1.5em;
    background-color: #FFFFFFB1;
    border-radius: 10px;
    height: 200px;
    /* margin-top: 1.5rem; */
}

.announcement h1 {
    font: normal normal 900 24px/33px Poppins;
    color: #7F7F7F;
    text-decoration: none;
}

.announcement p {
    font: normal normal normal 17px/25px Avenir;
    color: #555555;
}

.announcement a {
    font: normal normal 900 17px/25px Poppins;
    color: #36A3C0;
    text-decoration: none;
}

.images {
    display: inline;
}

.announcement .content {
    margin-left: 10%;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-width: 150px;
}

.announcement .close {
    margin-left: 95%;
    opacity: .5;
}

.container-main {
    display: grid;
    grid-template-columns: 2.8fr 1.2fr;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 1.5rem;
}

.post-card {
    /*work with width*/
    height: auto;
    padding: 25px 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    filter: drop-shadow(1px 3px 3px rgb(177, 177, 177));
    margin-left: auto;
    margin-right: 1.5em;
    margin-bottom: 1rem;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.post-card-container {
    display: flex;
    /* justify-content: end; */
    padding: 5px;
}

.user_profile {
    display: flex;
    align-items: center;
}

.pfp {
    /* width: 100px;
    height: 100px; */
    border-radius: 50%;
}

.user_info {
    margin-left: 20px;
}

.user_picture {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font: normal normal 900 24px/33px Poppins;
    color: #535353;
    text-decoration: none;
}

.username:hover {
    color: #36A3C0;
}

.checked {
    font: normal normal normal 20px/27px Poppins;
    color: #535353;
}

.location {
    font: normal normal 900 20px/27px Poppins;
    color: #36A3C0;
    text-decoration: none;
}

.post_title {
    display: flex;
}

.title {
    width: auto;
    font: normal normal 900 24px/33px Poppins;
    color: #535353;
    text-decoration: none;
    padding-top: 5px;
}

.title h1:hover {
    color: #36A3C0;
}

.content {
    font: normal normal medium 20px/27px Poppins;
    color: #555555;
}

.image {
    margin: 10px;
    height: 150px;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 15%;
}

.event {
    /* push to the left */
    font: normal normal 15px/20px Poppins;
    color: #555555;
    padding-top: 2px;
}

.close {
    cursor: pointer;
}

.date {
    /* push to the left */
    font: oblique normal normal 15px/20px Poppins;
    color: #707070;
    padding-top: 2px;
}

.comments {
    position: absolute;
    display: flex;
    right: 100px;
    padding-top: 2px;
    padding-right: 25px;
    font: normal normal normal 15px/20px Poppins;
    color: #707070;
}

.comment_icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: 2px;
}

.like {
    position: absolute;
    display: flex;
    right: 0;
    padding-right: 25px;
    font: normal normal normal 15px/20px Poppins;
    color: #707070;
}

.likes {
    padding-top: 2px;
    padding-right: 5px;
}

.like_icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
}

p {
    margin-bottom: 0em;
}

.settings-container {
    position: relative;
    display: inline-block;
    position: absolute;
    padding: 20px;
    top: 0;
    right: 0;
}

.settings-container img {
    cursor: pointer;
}

.settings-options {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    display: none;
}

.settings-option {
    display: block;
    color: black;
    text-decoration: none;
    padding: 5px;
}

.settings-option:hover {
    background-color: gray;
    color: white;
}


/*CSS for: if there are no post in feed.html*/
.home-button {
    background-color: #57A1BD;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    font: normal normal medium 30px/40px Poppins;
}

/*CSS for: if there are no post in feed.html*/
.home-button:hover {
    background-color: #5592a8;
}

/*CSS for: if there are no post in feed.html*/
.congrats{
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    color: #A6CAD8;
}

/*CSS for: if there are no post in feed.html*/
h2 {
    text-align: center;
    font: normal normal medium 30px/40px Poppins;
    letter-spacing: 0px;
    color: #7F7F7F;
    opacity: 1;
}

/*CSS for: if there are no post in feed.html*/
.button-container {
    padding: 1rem;
}

/*CSS for: if there are no post in feed.html*/
a {
    text-decoration: none;
}