.create-card {
    max-width: 700px;
    height: auto;
    padding: 25px 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    filter: drop-shadow(1px 3px 3px rgb(177, 177, 177));
    margin: 0rem auto;
    margin-bottom: 1rem;
}

.page-title {
    font: normal normal 900 30px/48px Poppins;
    color: #555555;
}

.create-container textarea:not(.file),
.create-container input:not(.file) {
    background-color: #A6CAD84B;
    border: 1px solid #A6CAD8;
    border-radius: 8px;
}

label {
    padding: 5px;
}

.content:focus {
    outline: none !important;
    border-color: #57A1BD !important;
}

.file-div {
    padding-top: 8%;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.file-btn {
    border: 2px solid #57A1BD;
    color: #333;
    background-color: #E3EFF5;
    border-radius: 4px;
    cursor: pointer;
}

.upload-img {
    height: 15px;
    width: 15px;
    margin-bottom: 3px;
    opacity: 0.5;
}

.file-upload-label {
    margin-left: 10px;
    font-size: 16px;
}

.upload {
    display: flex;
}

.myFile {
    margin: 10px;
    height: 100px;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 15%;
}

.content-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font: normal normal 900 18px/25px Poppins;
    color: #7F7F7F;
    padding-bottom: 15px;
}

.file-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

span {
    font: normal normal 900 18px/25px Poppins;
    color: #7F7F7F;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-btn {
    margin-top: 5px;
    padding: 10px;
    background-color: #57A1BD;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.post-btn:hover {
    background-color: #5592a8;
}